/*header styles*/
.header{
    width: 1140px;
    height: 71px;
    margin: 30px 150px 120px 150px;
}
.navbar, .nav-list{
    display: flex;
    justify-content: space-between;
}
.nav-list{
    list-style: none;
    gap: 30px;
}
.logo-img{
    width: 135px;
    height: 82px;
}
/* main section */
.light-gray{
    color: #8987A1;
} 
.f-color{
    color: #E95A08;
}
.cart{
    margin: auto 10px;
}

/* banner style */
.banner{
    width: 1140px;
    height: 461px;
    display: flex;
    justify-content: space-around;
    margin: 100px 150px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 0;
}
.banner-img{
    width: 530px;
    height: 355px;
}
/* plant section style */
.plants-section{
    width: 1140px;
    height: 1186px;
    margin: 80px 150px 210px 150px;
}
.plants-title{
    font-size: 50px;
    text-align: center;
}
.plants-description{
    font-size: 19px;
    text-align: center;
}
.grid-section{
    width: 270px;
    height: 480px;
}
.lily{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
}
.lily-price{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}
.lily-img{
    width: 100%;
    height: 323px;
    margin-bottom: -20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 30px;
    margin-left: 20px;
}
/* BUTTON STYLE */
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}
.btn{
    width: 270px;
}
/* flower & plant lover */
.flower-lover{
    display: flex;
    width: 1140px;
    height: 597px;
    margin: 50px 90px;
}
.badge-section{
    position: relative;
    flex: 1 1 300px;
    min-width: 300px;
    margin-left: 60px;
}
.flower-lover-img{
    width: 540px;
    height: 500px;
    display: block;
}
.badge{
    position: absolute;
    top: -120px;
    left: 75%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;

}
.lover-txt{
    font-size: 50px;
    font-weight: bold;
}
.lover-description{
    font-size: 18px;
}
/* latest section */
.latest-section{
    width: 1140px;
}
.latest-txt{
    width: 1140px;
    height: 68px;
    margin-left: 120px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.latest-description{
    font-size: 18px;
    text-align: center;
    flex-wrap: wrap;
    width: 888px;
    height: 54px;
    margin-left: 250px;
}
.latest-image{
    display: flex;
    width: 1140px;
    height: 424px;
    margin-left: 150px;
    gap: 50px;
}
.vertical-collage{
    display: block;
    width: 336px;
    height: 423px;
    
}
.row{
    width: 753px;
    height: 424px;
}
.img-border{
    border: solid none;
    border-radius: 25px;
}
.space{
    margin-bottom: 20px;
}
.txt-over-img{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
/* responsive works */
@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: row;
    }
    .banner {
        flex-direction: column-reverse;
    }
    .banner{
        width: 100%;
        margin: 0 0 0 0;
    }
    .header{
        width: 361px;
        height: 31px;
        margin: 0 0 0 0;
    }
    .hide{
        display: none;
    }
    .logo-img{
        width: 63px;
        height: 38px;
    }
    .cart{
        width: 113px;
        height: 24px;
    }
    .banner-img{
    width: 394px;
    height: 245px;
    margin-right: -20px
}
.banner-txt{
    width: 361px;
    height: 147px;
    margin: 0 0 0 0;
}
.banner-title{
    width: 361px;
    height: 66px;
    font-size: 24px;
    margin-left: 16px;
}
.banner-description{
    font-size: 14px;
    margin-left: 16px;
    margin-right: 17px;
    margin-top: 0;
}

/* plant section */
.plants-section{
    width: 100%;
    margin: auto;
}
.plants-title{
    width: 393px;
    height: 33px;
    font-size: 24px;
    text-align: center; ip
}
.plants-description{
    width: 336px;
    height: 68px;
    font-size: 14px;
    text-align: center;
}
.grid{
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5px;
    margin-left: 5px;
}
.grid-section{
    width: 200px;
    height: 310px;
    margin-top: 10px;
}
.lily-img{
    width: 171px;
    height: 196px;
}
.lily{
    width: 96px;
    height: 12px;
    font-size: 16px;
    text-align: center;
    margin: 20px 20px 20px 30px;
}
.lily-price{
    width: 59px;
    height: 12px;
    font-size: 16px;
    margin: 20px 20px 20px 40px;
}
.btn-primary{
    font-size: 0.75rem;
}
.btn{
    width: 171px;
    height: 50px;
    font-size: 16px;
}
.flower-lover{
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    margin-left: 0;

}

.flower-lover-img{
    width: 358px;
    height: 396px;
    margin-top: 0px;
    margin-left: 0;

}
.badge-section{
    margin-left: 0;
    margin-top: 50px;
}
.lover-txt{
    width: 270px;
    height: 33px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}
.lover-description{
    font-size: 14px;
}
.plant-lover-list{
    width: 361px;
    height: 51px;
}
}
